[Unit]
Description=Sausage Store Backend
After=network-online.target
Wants=network-online.target

[Service]
User=backend
Group=backend
WorkingDirectory=/opt/sausage-store/bin
Environment="REPORT_PATH=/var/sausage-store/reports"
Environment="LOG_PATH=/var/sausage-store/logs"
ExecStart=/usr/bin/java -jar /opt/sausage-store/bin/sausage-store.jar
SuccessExitStatus=143
Restart=on-failure
RestartSec=5
TimeoutStopSec=20
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
